.header, .top5, .help{
    width: 100%;
    height: 50px;
    background-color: #3374AC;
    text-align: center;
    color: white;
}

.welcome, .badges{
    width: 100%;
    height: 250px;
    background-color:white;
    text-align: center;
    /*line-height: 250px;*/
    color: #3374AC;
}
.welcome{
    margin-top: 50px;
}

.welcome i{
    font-style: normal;
    padding: 0px;
    margin: 0px;
    font-size: 40px;
}
.welcome b{
    font-size: 70px;
}
.top5, .help{
    height: auto;
    text-align: center;
}
.help{
    height: 160px;
}

#myTable {    
    margin: 0 auto;
    border-spacing: 0;
    width: 300px;
    font-size: 35px;
    align-content: center;
    text-align: center;
    border-radius: 25%;  
    padding-bottom: 25px;
    
}
#myTable b{
    font-size: 65px;
}

#myTable td, #myTable th{
    border-bottom: 1px solid white;
    padding: 8px;
    margin: 0px;
}

#myTable tr:hover, #myTable th:hover {
    background-color: white;
    color: #3374AC;
}

#myTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3374AC;
    color: white;
}

.button{
    border-radius: 25px;
    background-color: white;
    border: none;
    color: #3374AC;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
}
.header{
    position: fixed;
    top: 0px;
}
.navbarlink2, .loginlink, .homepage, .navbarlink1 {
    float: left;
    text-decoration: none;
    color: white;
    font-size: 40px;
    margin-right: 25px;
}
.navbarlink1{
    margin-left: 15%;
    margin-right: 55px;
}
.navbarlink2:hover, .navbarlink1:hover, .loginlink:hover {
    color: rgb(0, 44, 83);
}
.loginlink{
    float: right;
}
.homepage{
    margin-left: 15px;
}

.badges img{
    height: 150px;
    width: 150px;
}
#b1, #b2 {
    float: left;
    width: 33%;
}
#b1 {
    margin-top: 15px;
}
.badges {
    height: 450px;
    padding-bottom: 0px;
}
.footer {    
    text-align: center;
    background-color: rgb(41, 48, 68);
    color: white;
}
.footer i{
    font-style: normal;
}
.links{
    margin-left: 450px;
}